.box p {
    color: red;
}




div + p {
    background-color: lightblue;
}

/*задача 1*/

a:link{
    font-weight: 200;
}

a:hover {
    color: black;
    font-weight: bold;
}

/*Задача 2*/
#aa:link {
    color: yellow;
}

#aa:visited{
    color: green;
    font-weight: 100;
}

#aa:hover{
    background-color: lightcoral;
}

#aa:active{
    outline: 1px solid black;
}

/*Задача 3*/

.b  p:first-child {
    color: red;
    font-size: 50px;
}

.b p i:first-child{
    background-color: lightyellow;
}

.b p:first-child i{
    color: darkgray;
}

/*Задача 4, 5*/
li:first-child {
    color: red;
    font-weight: 900;
}

li:last-child{
    color: pink;
    font-family: 'Times New Roman';
}


span, div em {
    padding: 5px;
    border: 1px solid green;
    display: inline-block;
    margin-bottom: 3px;
}

.first span:nth-child(2n + 1),
.second span:nth-child(2n + 1) {
    background-color: lime;
}


h1::before {
    content: url("../img/aaa.jpg");
}

a::after {
    content: url("../img/aaa.jpg");
}

.v::first-line {
    color: red;
}

/*дз*/
.container h1 {
    color: darkblue;
}

.container h2 {
    background-color: darkblue;
    color: white;
}
.container span {
    font-size: 200%;
}



