/*Задача 1*/
.odin {
    padding: 30px;
    border: 40px solid gray;
    width: 330px;
}

/*Задача 2*/
.dva {
    border: 40px solid gray;
    width: 330px;
}

/*Задача 3*/
.tri {
    padding: 30px;
    border: 40px solid gray;
    width: 330px;
    box-sizing: border-box;
}
/*Задача 4*/
.chetbire {
    padding: 30px;
    border: 40px solid gray;
    width: 330px;
    box-sizing: content-box;
}

/*Задача 5*/
.first {
    padding: 10px;
    border: 2px solid black;
    background-color: gray;
}

.second {
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    background-color: gray;
}

.third {
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    background-color: gray;
}
/*Задача 6*/
* {
    padding: 0px;
    margin: 0px;
}

body{
    text-align: center;
    clear: both;
}

.ao {
    font-size: 980px;
    margin-top: 15px; 
    margin-right: 15px; 
    margin-bottom: auto;
    margin-left: auto;
}

header, section, aside, footer {
    display: block;
}

header{
    padding: 20px;
    border: 1px solid black;
    background-color: red;

}

nav{
    padding: 20px;
    background-color: pink;
}

ul{
    display: inline-block;
}

/*общая ширина: 660 + 20 + 20= 700px*/
section{
    float: left;
    width: 660px;
    padding: 20px;
}

/*общая ширина: 220+20+20= 260px*/
aside {
    float: left;
    width: 220px;
    padding: 15px 20px;
    background-color: lightpink;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid black;
} 


